ul{
    padding: 10px 0;
}
ol{
    padding: 0;
}

li{

    text-transform: uppercase;
    display: inline-block;

}

.dots{
    vertical-align: sub;
}



ul>li {
   padding: 0 7px;
}


a{
    font: 10px Arial;
    color: #d915ff;
    text-decoration: none;
}

ol a {
    text-align: center;
    border-radius: 5px;
    border: solid 1px rgba(227, 227, 227, 0.62);
    margin: 0 1px;
    padding: 5px 8px;
    box-sizing: border-box;
    width:100%;
    height: 100%;
}

a:hover{
    background-color: #ae01ff;
    color: white;
}
